* {
    box-shadow: none;
}

window, dialog {
    background-color: #1E1E2E;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 16px;
}

grid, #message {
    color: #d9e0ee;
}

grid button,
dialog button {
    border-image: none;
    background-image: none;
    background: #ABE9B3;
    color: #1E1E2E;
    border-width: 0px;
    border-style: solid;
    border-color: #ABE9B3;
    padding: 8px 16px;
    font-weight: 900;
    text-decoration: wavy;
}

grid button:active {
    border-color: #ABE9B3;
    background-color: #ABE9B3;
    color: #1E1E2E;
}

grid entry {
    background-color: transparent;
    border: 3px solid #ABE9B3;
    border-radius: 4px;
    color: white;
}

grid entry:disabled {
    background-color: #ABE9B3;
    color: white;
    border-color: transparent;
}

grid entry:focus {
    outline-width: 0px;
    outline: none;
}

grid #title {
    font-weight: 900;
    font-size: 25px;
}

checkbutton check {
    background: white;
    border: 2px solid #ABE9B3;
}

checkbutton:checked check {
    background: #ABE9B3;
    border-color: #ABE9B3;
    color: #1E1E2E;
}

grid #score {
    color: #ABE9B3;
    font-size: 30px;
}

grid .letter {
    background-color: white;
    color: #1E1E2E;
    border-color: transparent;
    min-width: 40px;
    padding: 5px 0;
    font-size: 30px;
}

#small{
    color: #979797;
    margin-bottom: 30px;
}

grid #a {
    background-color: rgb(167, 54, 54);
    color: white;
}
grid #b {
    background-color: rgb(167, 54, 167);
    color: white;
}
grid #c {
    background-color: rgb(54, 54, 167);
    color: white;
}
grid #d {
    background-color: rgb(54, 167, 101);
    color: #1E1E2E;
}
grid #e {
    background-color: rgb(54, 167, 167);
    color: #1E1E2E;
}
grid #f {
    background-color: rgb(219, 175, 51);
    color: #1E1E2E;
}
grid #g {
    background-color: rgb(219, 175, 175);
    color: #1E1E2E;
}
grid #h {
    background-color: rgb(175, 175, 175);
    color: #1E1E2E;
}
grid #i {
    background-color: rgb(121, 82, 196);
    color: white;
}
grid #j {
    background-color: rgb(233, 96, 17);
    color: #1E1E2E;
}
grid #k {
    background-color: rgb(233, 96, 233);
    color: #1E1E2E;
}
grid #l {
    background-color: rgb(96, 96, 233);
    color: white;
}
grid #m {
    background-color: rgb(96, 233, 96);
    color: #1E1E2E;
}
grid #n {
    background-color: rgb(96, 233, 233);
    color: #1E1E2E;
}
grid #o {
    background-color: #381023;
    color: white;
}
grid #p {
    background-color: rgb(233, 233, 233);
    color: #1E1E2E;
}
grid #q {
    background-color: rgb(6, 12, 65);
    color: white;
}
grid #r {
    background-color: rgb(255, 255, 0);
    color: #1E1E2E;
}
grid #s {
    background-color: rgb(6, 65, 12);
    color: white;
}
grid #t {
    background-color: rgb(6, 65, 65);
    color: white;
}
grid #u {
    background-color: rgb(65, 65, 6);
    color: white;
}
grid #v {
    background-color: rgb(65, 65, 65);
    color: white;
}
grid #w {
    background-color: rgb(65, 6, 6);
    color: white;
}
grid #x {
    background-color: rgb(65, 6, 65);
    color: white;
}
grid #y {
    background-color: rgb(6, 6, 65);
    color: white;
}
grid #z {
    background-color: rgb(168, 133, 133);
    color: white;
}
